<!DOCTYPE html>
<html lang="en">
	<head>
		<title>API Checker | Contact</title>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	</head>
	<body>
		<a href="https://github.com/swook/apichecker">
			<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
		</a>
		<div class="container-fluid">
			<div class="navbar navbar-inverse navbar-static-top">
				<div class="navbar-inner">
					<a class="brand" href="/">API Checker</a>
					<ul class="nav">
						<li><a href="/">Main</a></li>
						<li class="active"><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
			<div style="padding:1em;">
				Send all enquiries to <a href="mailto:seon.wook@swook.net?subject=%5BAPI%20Checker%5D%20">seon.wook@swook.net</a>.
			</div>
		</div>
	</body>
</html>
