<!DOCTYPE html>
<html lang="en">
	<head>
		<title>API Checker</title>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	</head>
	<body>
		<a href="https://github.com/swook/apichecker">
			<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
		</a>
		<div class="container-fluid">
			<div class="navbar navbar-inverse navbar-static-top">
				<div class="navbar-inner">
					<a class="brand" href="/">API Checker</a>
					<ul class="nav">
						<li class="active"><a href="/">Main</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<li class="active"><a href="/" data-toggle="#about">About</a></li>
					<li><a href="#mlab-ns">mlab-ns.appspot.com</a></li>
				</ul>
				<div class="tab-content" style="padding:1em;">
					<div class="tab-pane active" id="about">
						<p class="lead">API Checker</p>
						<p>API Checker is a <a href="https://developers.google.com/appengine/">Google App Engine</a> application for checking API compatibility/completeness of APIs in development, written in <a href="http://golang.org/">Go</a>.</p>
					</div>
					<div class="tab-pane" id="mlab-ns">
						<p>API Compatibility Results to come</p>
					</div>
				</div>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>

		<script type="text/javascript">
			$('ul.nav-tabs a[href='+document.location.hash+']').tab('show');
			$('ul.nav-tabs a').click(function (e) {
				$(this).tab('show');
			})
		</script>
	</body>
</html>
